/**
 * @name Espresso
 * @author Vozer
 * @version 2.2022
 * @description A soft and colorful Discord theme
 * @source https://github.com/SlippingGittys-Discord-Themes
 * @website https://slippinggitty.github.io/
*/

/*
    Project
   ██████╗  █████╗ ██████╗ ██████╗ ██╗███████╗ ██████╗ ███╗   ██╗
  ██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║██╔════╝██╔═══██╗████╗  ██║
  ██║  ███╗███████║██████╔╝██████╔╝██║███████╗██║   ██║██╔██╗ ██║ 
  ██║   ██║██╔══██║██╔══██╗██╔══██╗██║╚════██║██║   ██║██║╚██╗██║
  ╚██████╔╝██║  ██║██║  ██║██║  ██║██║███████║╚██████╔╝██║ ╚████║
   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝
                              /\  //\\
                       /\    //\\///\\\        /\
                      //\\  ///\////\\\\  /\  //\\
         /\          /  ^ \/^ ^/^  ^  ^ \/^ \/  ^ \
        / ^\    /\  / ^   /  ^/ ^ ^ ^   ^\ ^/  ^^  \
       /^   \  / ^\/ ^ ^   ^ / ^  ^    ^  \/ ^   ^  \       ✰
      /  ^ ^ \/^  ^\ ^ ^ ^   ^  ^   ^   ____  ^   ^  \     /|\
     / ^ ^  ^ \ ^  _\___________________|  |_____^ ^  \   /||o\
    / ^^  ^ ^ ^\  /______________________________\ ^ ^ \ /|o|||\
   /  ^  ^^ ^ ^  /________________________________\  ^  /|||||o|\
  /^ ^  ^ ^^  ^    ||___|___||||||||||||___|__|||      /||o||||||\
 / ^   ^   ^    ^  ||___|___||||||||||||___|__|||          | |
/ ^ ^ ^  ^  ^  ^   ||||||||||||||||||||||||||||||oooooooooo| |ooooooo
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo 
[Art by From Ric_Hotchkiss_sdrc_com]
*/

/*
-----------Source 📡---------
> This is the core of the entire theme
> It is essential that you do not touch this url, unless you know what you are doing.
*/
@import url('https://slippinggittys-discord-Themes.github.io/Espresso-Discord-Theme/themes/source.css');


/*
-----------Emoji 😖---------
> Comment or remove this URL if you do not want to use Google's emojis
> Removing/commenting will revert back to Twemoji
*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css");

/*
-----------Material Symbols 🔣---------
> This is the Material Symbols/Product Sans SVG assets 
> Removing this will revert back to the standard Discord svg icons
*/
@import url("https://slippinggitty-s-discord-things.github.io/Discord-MaterialSymbols-Icons/producticons.theme.css");

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
> -------COLOR PALLETES 🎨------- <
> Change the Dark and Light theme <
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

/* 
-------Light------
> Replace the last "___.css" with another color option (e.x: "newspaper.css", "pink.css")
> See choices here https://github.com/SlippingGittys-Discord-Themes/Espresso-Discord-Theme/tree/main/themes/light
*/
@import url('https://slippinggittys-discord-Themes.github.io/Espresso-Discord-Theme/themes/light/nepnep.css');

/* 
-------Dark------
> Replace the last "___.css" with another color option (e.x: "amoled.css", "thinkpad.css")
> See choices here https://github.com/SlippingGittys-Discord-Themes/Espresso-Discord-Theme/tree/main/themes/dark
*/
@import url('https://slippinggittys-discord-Themes.github.io/Espresso-Discord-Theme/themes/dark/evening.css');

/*
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
> --------------- SUBMIT YOUR OWN COLOR PALLETES!------------------- <
>   Submiting your own color palletes is just a pull request away!   <
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= 
*/

/*
-----------Accent Color 🖌️---------
> This will override the accent color on the themes you've selected
> Uncomment one or both selections if you are okay with that. 
*/
/* --------------------- Light --------------------- 
:root {
  --accent: rgb(39, 249, 253);
  --accent-hover: rgba(39, 249, 253, 0.977);
  --accent-selected: rgb(39, 249, 253, 0.612);
  --accent-focused: rgb(39, 249, 253, 0.200);
}
*/
/* --------------------- Dark --------------------- 
:root {
  --accentD: rgb(39, 249, 253); 
  --accent-hoverD: rgba(39, 249, 253, 0.977);
  --accent-selectedD: rgb(39, 249, 253, 0.612); 
  --accent-focusedD: rgb(39, 249, 253, 0.200); 
}
*/

/*
-----------Fonts ⌨️---------
> This imports either Roboto or the Product Sans (Google Sans) font
> You may change "productsans.css" to "roboto.css" 
> Removing or commenting this block of CSS will revert back to the default GG Sans font
*/
@import url('https://slippinggittys-discord-Themes.github.io/Espresso-Discord-Theme/themes/fixations/fonts/productsans.css');
