/**
 * @name Project Garrison
 * @author Vozer
 * @version 11.2022
 * @description A theme to make as I quell my boredom.
 * @source https://github.com/SlippingGittys-Discord-Themes
 * @website https://slippinggitty.github.io/
*/

/*
    Project
   ██████╗  █████╗ ██████╗ ██████╗ ██╗███████╗ ██████╗ ███╗   ██╗
  ██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║██╔════╝██╔═══██╗████╗  ██║
  ██║  ███╗███████║██████╔╝██████╔╝██║███████╗██║   ██║██╔██╗ ██║ 
  ██║   ██║██╔══██║██╔══██╗██╔══██╗██║╚════██║██║   ██║██║╚██╗██║
  ╚██████╔╝██║  ██║██║  ██║██║  ██║██║███████║╚██████╔╝██║ ╚████║
   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝
                              /\  //\\
                       /\    //\\///\\\        /\
                      //\\  ///\////\\\\  /\  //\\
         /\          /  ^ \/^ ^/^  ^  ^ \/^ \/  ^ \
        / ^\    /\  / ^   /  ^/ ^ ^ ^   ^\ ^/  ^^  \
       /^   \  / ^\/ ^ ^   ^ / ^  ^    ^  \/ ^   ^  \       *
      /  ^ ^ \/^  ^\ ^ ^ ^   ^  ^   ^   ____  ^   ^  \     /|\
     / ^ ^  ^ \ ^  _\___________________|  |_____^ ^  \   /||o\
    / ^^  ^ ^ ^\  /______________________________\ ^ ^ \ /|o|||\
   /  ^  ^^ ^ ^  /________________________________\  ^  /|||||o|\
  /^ ^  ^ ^^  ^    ||___|___||||||||||||___|__|||      /||o||||||\
 / ^   ^   ^    ^  ||___|___||||||||||||___|__|||          | |
/ ^ ^ ^  ^  ^  ^   ||||||||||||||||||||||||||||||oooooooooo| |ooooooo
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo 
[Art by From Ric_Hotchkiss_sdrc_com]
*/

/* Emoji */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css");

/* Material Symbols */
@import url("https://slippinggitty-s-discord-things.github.io/Discord-MaterialSymbols-Icons/producticons.theme.css");

/* Fonts */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
* {
  --font-primary: Product Sans;
  --font-display: Product Sans;
  --font-headline: Product Sans
  text-rendering: optimizeLegibility;
  text-transform: none !important;
  letter-spacing: 0.015em;
}
code, .codeBlockText-28BOxV, .codeLine-2C-9aH, .markup-eYLPri code.inline, .after_inlineCode-2_JXPm, .before_inlineCode-1zngJj, .inlineCode-ERyvy_ {
  font-family: mono, monospace;
}

/*
///////////////////////////////////////
////////////// Colors
//////////////////////////////////////
*/

:root {
  --PGBackground: #0a0d1c;
  --PGBackground2: #0c1021;
  --PGTextBackground: rgb(0, 0, 0);
  --PGFriendsBackground: rgb(0, 0, 0);
  --PGFriends: rgb(0, 0, 0);
  --PGActiveNow: rgb(33, 2, 1, .276);
  --PGGuilds: rgb(66, 7, 6);
  --PGTitleBar: #0c1021;
  --PGSearch: rgb(53, 14, 12);
  --PGHover: rgba(152, 29, 22, 0.200);
  --PGBorder: rgb(78,78,81);
  --accent: rgb(0, 98, 157);
  --accent-hover: rgba(0, 98, 157, 0.977);
  --accent-selected: rgb(0, 98, 157, 0.612);
  --accent-focused: rgb(0, 98, 157, 0.2);
}

/* Color Pallete */
.theme-dark {
  --background-tertiary: var(--PGBackground2);
  --background-secondary: var(--PGBackground2);
  --background-secondary-alt: var(--PGBackground2);
  --background-primary: var(--PGBackground);
  --channeltextarea-background: var(--PGTextBackground);
  --background-accent: var(--accent);
  --background-modifier-hover: var(--PGHover);
  --background-modifier-active: rgb(30, 30, 30);
  --background-modifier-selected: var(--accent-selected);
  --deprecated-card-bg: #12141f63;
  --background-floating: rgba(35, 35, 35, 0.771);
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --toast-background: #000000 !important;
  --toast-header: #000000 !important;
  --toast-contents: #000000 !important;
  --brand-experiment-500: var(--accent-selected);
  --brand-experiment-560: var(--accent-selected);
}

.theme-light {
  --background-tertiary: #CCDAEC;
  --background-secondary: #CCDAEC;
  --background-secondary-alt: #D5E4F7;
  --background-primary: #CCDAEC;
  --channeltextarea-background: #D5E4F7;
  --background-accent: var(--accent);
  --background-modifier-hover: #D5E4F7;
  --background-modifier-active: #D5E4F7;
  --background-modifier-selected: var(--accent-selected);
  --deprecated-card-bg: #12141f63;
  --background-floating: #D5E4F7;
  --deprecated-quickswitcher-input-background: rgba(237, 237, 237);
  --elevation-low: none;
  --toast-background: #ffffff !important;
  --toast-header: #ffffff !important;
  --toast-contents: #ffffff !important;
  --brand-experiment-500: var(--accent-selected);
  --brand-experiment-560: var(--accent-selected);
}

.theme-light .linkButtonIcon-7rsZcu {
  color: var(--accent);
} 

.theme-light .clickable-ZD7xvu .icon-2xnN2Y {
  color: black;
}

/*
///////////////////////////////////////
////////////// Buttons
//////////////////////////////////////
*/

/* Buttons */
.button-2b4VEQ.buttonSize-3QlBTl, .lookFilled-yCfaCM.colorPrimary-2AuQVo, .popoutBannerPremium-3i5EEI .pencilContainer-18TrEJ, .full-motion .button-1_oXub, .lookFilled-yCfaCM.colorBrand-I6CyqQ, .navButtonActive-1EqC5l {
  background-color: var(--accent);
  color: white;
  border-radius: 18px;
}
.button-2b4VEQ.buttonSize-3QlBTl:hover, .actionButton-3-B2x-:hover, .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover, .popoutBannerPremium-3i5EEI .pencilContainer-18TrEJ:hover {
  background-color: var(--accent-hover);
  border-radius: 10px;
  transition: 0.3s;
}
.clickable-ZD7xvu .icon-2xnN2Y,
.linkButtonIcon-7rsZcu {
  color: var(--accent) !important;
}
.clickable-ZD7xvu .icon-2xnN2Y:hover,
.linkButtonIcon-7rsZcu:hover {
  margin-top: 2px;
  transition: .5s;
}
.iconWrapper-2awDjA .icon-2xnN2Y,
.stickerIcon-3Jx5SE,
.icon-1d5zch,
.circleIcon-3489FI,
.buttonWrapper-3YFQGJ {
  color: var(--accent);
}

/*
///////////////////////////////////////
////////////// Sliders
//////////////////////////////////////
*/

/* Sliders */
.barFill-2Bh7CX {
  background: var(--brand-experiment);
}

.scroller-kQBbkU::-webkit-scrollbar-track, .auto-2K3UW5::-webkit-scrollbar-track, .peopleColumn-1wMU14::-webkit-scrollbar-track {
  background-color: var(--background-secondary-alt);
}
.scroller-kQBbkU::-webkit-scrollbar-thumb, .auto-2K3UW5::-webkit-scrollbar-thumb, .thin-31rlnD::-webkit-scrollbar-thumb, .peopleColumn-1wMU14::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}
.scroller-kQBbkU::-webkit-scrollbar-thumb:hover, .auto-2K3UW5::-webkit-scrollbar-thumb:hover, .thin-31rlnD::-webkit-scrollbar-thumb:hover, .peopleColumn-1wMU14::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
  transition: .5s;
}

/* Sidebar "selected" Accents */
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .interactiveSelected-29CP8y {
  background-color: var(--background-secondary) !important;
  border: solid 1.5px;
  border-radius: 18px;
  border-color: var(--accent);
  color: var(--accent);
  text-align: center;
  transition: 0.5s;
}

.channel-1Shao0:hover {
  margin-left: 5px;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
}
.mainContent-20q_Hp:hover {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
}

/*
///////////////////////////////////////
////////////// Sidebars
//////////////////////////////////////
*/

.panels-3wFtMD {
  border-radius: 15px;
  margin-bottom: 18px;
  margin-right: 2px;
  margin-left: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}


.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  background-color: var(--background-secondary) !important;
  border: solid 2px;
  border-radius: 18px;
  border-color: var(--accent);
  color: var(--accent);
  text-align: center;
  transition: 0.9s;
}

.iconContainer-21RCa3[aria-label="Text (Age-Restricted)"]>svg {
  color: #ff5252 !important;
}
.icon-2W8DHg, .modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
  color: var(--accent-selected);
  -webkit-text-fill-color: white;
  border-radius: 0px 15px 15px 15px;
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
  background-color: var(--accent) !important;
  transition: 0.3s;
}
.content-1gYQeQ:hover  {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
  border-radius: 0px 15px 15px 15px;
  margin-right: 2px;
  transition: 0.3s;
}
.mainContent-20q_Hp:hover {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
}

.addButtonIcon-3rJeaD,
.modeUnread-3Cxepe .icon-2W8DHg,
.unreadRelevant-2f-VSK {
  color: var(--accent) !important;
}

.modeConnected-NrO4cP .name-28HaxV,
.modeConnected-NrO4cP:hover .name-28HaxV,
.modeSelected-3DmyhH .name-28HaxV,
.modeSelected-3DmyhH:hover .name-28HaxV,
.modeUnread-3Cxepe .name-28HaxV,
.modeUnread-3Cxepe:hover .name-28HaxV,
.notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV,
.notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
  color: var(--accent) !important;
}
.modeSelected-3DmyhH .icon-2W8DHg,
.modeSelected-3DmyhH:hover .icon-2W8DHg,
.modeUnread-3Cxepe .icon-2W8DHg,
.modeUnread-3Cxepe:hover .icon-2W8DHg,
.mainContent-uDGa6R .overflow-1wOqNV,
.mainContent-uDGa6R {
  color: var(--accent) !important;
}

.expandedFolderBackground-1kSAf6 {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 15px;
}
.closedFolderIconWrapper-3tRb2d:hover {
    backdrop-filter: blur(20px);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 60px;
    background: rgba(207, 222, 222, 0.276);
    transition: 0.3s;
}
.expandedFolderBackground-1kSAf6.collapsed-uGXEbi,
.expandedFolderBackground-1kSAf6.collapsed-uGXEbi.hover-3m7-WT {
    display: none;
}
.folder-241Joy,
.folder-241Joy:hover {
    background-color: #00000000;
}
.item-2LIpTv {
    width: 8px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 0px;
    background-color: rgb(145, 138, 152);
}
.circleIconButton-1VxDrg {
    background: var(--background-secondary-alt) !important;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 30px;
    color: var(--accent-selected);
    transition: 0.5s;
}
.circleIconButton-1VxDrg:hover {
  background: var(--background-secondary-alt) !important;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.198);
  backdrop-filter: blur(20px);
  border: 1px solid rgb(186, 186, 186);
  border-radius: 30px;
  color: var(--accent-selected);
  transition: 0.5s;
}
.circleIconButton-1VxDrg:hover {
    background: rgba(99, 81, 199, 0.276);
    color: var(--accent-selected);
}



/*
///////////////////////////////////////
////////////// Some Chat shit
//////////////////////////////////////
*/

.scrollableContainer-15eg7h, .hasConnectedBar-1vN2JH, .preview-QJ3OG3 {
  border-radius: 0px;
  border-bottom: solid 2px;
  border-color: var(--accent);
}

.scrollableContainer-15eg7h:hover {
  background-color: rgba(0, 0, 0, 0.09);
}


.embedFull-1HGV2S {
  border-left: 4px solid var(--background-tertiary);
  background: var(--background-secondary);
}
.grid-1aWVsE {
  overflow: hidden;
  padding: 0.5rem 1rem 1rem 0.75rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.newMessagesBar-1hF-9G {
  margin-top: 10px;
  margin-left: 190px;
  margin-right: 190px;
  border-radius: 3px;
  background-color: #191365;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.54);
}

.messageContainer-3VTXBC {
  border: solid var(--accent);
  border-radius: 15px;
}

/*
///////////////////////////////////////
////////////// Settings
//////////////////////////////////////
*/

.accountProfileCard-lbN7n-, .profileBannerPreview-3mLIdO {
  background: #ffffffa3; 
  border: 1px solid var(--surCordBorder); 
  border-radius: 20px;
}

/*
///////////////////////////////////////
////////////// Title Bar
//////////////////////////////////////
*/

.container-ZMc96U.themed-Hp1KC_ {
  background: var(--background-secondary-alt) !important; 
  border-bottom: .5px solid rgba(186, 186, 186, 0.386);
  border-radius: 5px 0px 0px 5px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.header-3OsQeK {
  background: var(--background-secondary-alt) !important; 
  border-bottom: .5px solid rgba(186, 186, 186, 0.386);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px 5px 5px 5px;
}
.animatedContainer-2laTjx, .bannerImage-ubW8K- {
  border-radius: 5px 5px 5px 5px;
  margin-right: 5px;
  margin-right: 5px;
}
  .communityInfoVisible-3zc5_s .header-3OsQeK, .communityInfoVisible-3zc5_s .header-3OsQeK:hover, .hasBanner-2IrYih .header-3OsQeK, .hasBanner-2IrYih .header-3OsQeK:hover {
    border-bottom: .5px solid rgba(0, 0, 0, 0);
    background-color: transparent !important;
  }
  .communityInfoPill-2Mll66 {
      display: none;
  }
.children-3xh0VB:after {
  background: rgba(0, 0, 0, 0);
}
  .title-17SveM {
      font-weight: 750;
      color: rgba(73, 73, 73);
  }
.clickable-ZD7xvu .icon-2xnN2Y {
  color: rgba(115, 115, 115);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background: var(--background-secondary-alt) !important; 
  border-radius: 15px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

.full-motion .searchBar-jGtisZ {
  background: var(--background-secondary) !important; 
  border-radius: 10px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
}
