/**
 * @name Project Garrison
 * @author Vozer
 * @version 11.2022
 * @description A soft and fluffy Discord theme
 * @source https://github.com/SlippingGittys-Discord-Themes
 * @website https://slippinggitty.github.io/
*/

/*
    Project
   ██████╗  █████╗ ██████╗ ██████╗ ██╗███████╗ ██████╗ ███╗   ██╗
  ██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║██╔════╝██╔═══██╗████╗  ██║
  ██║  ███╗███████║██████╔╝██████╔╝██║███████╗██║   ██║██╔██╗ ██║ 
  ██║   ██║██╔══██║██╔══██╗██╔══██╗██║╚════██║██║   ██║██║╚██╗██║
  ╚██████╔╝██║  ██║██║  ██║██║  ██║██║███████║╚██████╔╝██║ ╚████║
   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═══╝
                              /\  //\\
                       /\    //\\///\\\        /\
                      //\\  ///\////\\\\  /\  //\\
         /\          /  ^ \/^ ^/^  ^  ^ \/^ \/  ^ \
        / ^\    /\  / ^   /  ^/ ^ ^ ^   ^\ ^/  ^^  \
       /^   \  / ^\/ ^ ^   ^ / ^  ^    ^  \/ ^   ^  \       *
      /  ^ ^ \/^  ^\ ^ ^ ^   ^  ^   ^   ____  ^   ^  \     /|\
     / ^ ^  ^ \ ^  _\___________________|  |_____^ ^  \   /||o\
    / ^^  ^ ^ ^\  /______________________________\ ^ ^ \ /|o|||\
   /  ^  ^^ ^ ^  /________________________________\  ^  /|||||o|\
  /^ ^  ^ ^^  ^    ||___|___||||||||||||___|__|||      /||o||||||\
 / ^   ^   ^    ^  ||___|___||||||||||||___|__|||          | |
/ ^ ^ ^  ^  ^  ^   ||||||||||||||||||||||||||||||oooooooooo| |ooooooo
ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo 
[Art by From Ric_Hotchkiss_sdrc_com]
*/

/* Emoji */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css");
/* Material Symbols */
@import url("https://slippinggitty-s-discord-things.github.io/Discord-MaterialSymbols-Icons/producticons.theme.css");

/* Fonts */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
* {
  --font-primary: Product Sans;
  --font-display: Product Sans;
  --font-headline: Product Sans;
  text-rendering: optimizeLegibility;
  text-transform: none !important;
}
code, .codeBlockText-28BOxV, .codeLine-2C-9aH, .markup-eYLPri code.inline, .after_inlineCode-2_JXPm, .before_inlineCode-1zngJj, .inlineCode-ERyvy_ {
  font-family: mono, monospace;
}

/*
///////////////////////////////////////
////////////// Colors
//////////////////////////////////////
*/

/*   Green
--PGBackground: #CCDAEC;
--PGBackground2: #D5E4F7;
--PGTextBackground: #D5E4F7; 
--accent: rgba(0, 98, 157);
--accent-hover: rgba(0, 98, 157, 0.977);
--accent-selected: rgb(0, 98, 157, 0.612);
--accent-focused: rgb(0, 98, 157, 0.2);
*/

/*   Pink
  --PGBackground: #EFDDF5;
  --PGBackground2: #E9D5F1;
  --PGTextBackground: #E9D5F1;
  --accent: rgb(167, 59, 255);
  --accent-hover: rgba(167, 59, 255, 0.977);
  --accent-selected: rgb(167, 59, 255, 0.612);
  --accent-focused: rgb(167, 59, 255, 0.2);
*/

:root {
  --PGBackground: #FFE6E6;
  --PGBackground2: #F2D1D1;
  --PGTextBackground: #F2D1D1;
  --PGFriendsBackground: rgb(0, 0, 0);
  --PGFriends: rgb(0, 0, 0);
  --PGActiveNow: rgb(33, 2, 1, .276);
  --PGGuilds: rgb(66, 7, 6);
  --PGTitleBar: #0c1021;
  --PGSearch: rgb(53, 14, 12);
  --PGHover: rgba(152, 29, 22, 0.200);
  --PGBorder: rgb(78,78,81);
  --accent: rgb(133, 59, 59);
  --accent-hover: rgba(133, 59, 59, 0.977);
  --accent-selected: rgb(133, 59, 59, 0.612);
  --accent-focused: rgb(133, 59, 59, 0.2);
}

/* Dark Mode */
:root {
  --PGBackgroundD: rgb(26, 27, 39);
  --PGBackground2D: rgb(22, 22, 31);
  --PGTextBackgroundD: rgb(31, 32, 46);
  --PGFriendsBackgroundD: rgb(0, 0, 0);
  --PGFriendsD: rgb(0, 0, 0);
  --PGActiveNowD: rgb(33, 2, 1, .276);
  --PGGuildsD: rgb(66, 7, 6);
  --PGTitleBarD: #0c1021;
  --PGSearchD: rgb(53, 14, 12);
  --PGHoverD: rgba(152, 29, 22, 0.200);
  --PGBorderd: rgb(78,78,81);
  --PGColorText: #d7dee9;
  --accentD: rgb(177, 77, 98);
  --accent-hoverD: rgba(177, 77, 98, 0.977);
  --accent-selectedD: rgb(177, 77, 98, 0.612);
  --accent-focusedD: rgb(177, 77, 98, 0.2);
}


.penis {
  color: rgb(220, 182, 233);
}

/* Color Pallete */

.theme-light {
  --background-tertiary: var(--PGBackground);
  --background-secondary: var(--PGBackground);
  --background-secondary-alt: var(--PGBackground2);
  --background-primary: var(--PGBackground);
  --channeltextarea-background: var(--PGTextBackground);
  --background-accent: var(--accent);
  --background-modifier-hover: var(--PGBackground2);
  --background-modifier-active: var(--PGBackground2);
  --background-modifier-selected: var(--accent-selected);
  --deprecated-card-bg: #12141f63;
  --background-floating: var(--PGBackground2);
  --deprecated-quickswitcher-input-background: rgba(237, 237, 237);
  --elevation-low: none;
  --toast-background: #ffffff !important;
  --toast-header: #ffffff !important;
  --toast-contents: #ffffff !important;
  --brand-experiment-500: var(--accent-selected);
  --brand-experiment-560: var(--accent-selected);
}

.theme-dark {
  --background-tertiary: var(--PGBackgroundD);
  --background-secondary: var(--PGBackgroundD);
  --background-secondary-alt: var(--PGBackground2D);
  --background-primary: var(--PGBackgroundD);
  --channeltextarea-background: var(--PGTextBackgroundD);
  --background-accent: var(--accent);
  --background-modifier-hover: var(--PGBackground2D);
  --background-modifier-active: var(--PGBackground2D);
  --background-modifier-selected: var(--accent-selectedD);
  --deprecated-card-bg: #12141f63;
  --background-floating: var(--PGBackground2D);
  --deprecated-quickswitcher-input-background: rgba(237, 237, 237);
  --elevation-low: none;
  --toast-background: #ffffff !important;
  --toast-header: #ffffff !important;
  --toast-contents: #ffffff !important;
  --brand-experiment-500: var(--accent-selectedD);
  --brand-experiment-560: var(--accent-selectedD);
}

.theme-light .linkButtonIcon-7rsZcu {
  color: var(--accent);
} 
.theme-dark .linkButtonIcon-7rsZcu {
  color: var(--accentD);
} 

.theme-light .clickable-ZD7xvu .icon-2xnN2Y {
  color: black;
}

/*
///////////////////////////////////////
////////////// Buttons
//////////////////////////////////////
*/

/* Buttons */
.button-2b4VEQ.buttonSize-3QlBTl, .lookFilled-yCfaCM.colorPrimary-2AuQVo, .popoutBannerPremium-3i5EEI .pencilContainer-18TrEJ, .full-motion .button-1_oXub, .lookFilled-yCfaCM.colorBrand-I6CyqQ, .navButtonActive-1EqC5l {
  background-color: var(--accent);
  color: white;
  border-radius: 18px;
}
.button-2b4VEQ.buttonSize-3QlBTl:hover, .actionButton-3-B2x-:hover, .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover, .popoutBannerPremium-3i5EEI .pencilContainer-18TrEJ:hover {
  background-color: var(--accent-hover);
  border-radius: 10px;
  transition: 0.3s;
}
.clickable-ZD7xvu .icon-2xnN2Y,
.linkButtonIcon-7rsZcu {
  color: var(--accent) !important;
}
.clickable-ZD7xvu .icon-2xnN2Y:hover,
.linkButtonIcon-7rsZcu:hover {
  margin-top: 2px;
  transition: .5s;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
  border-radius: 5px
}
.iconWrapper-2awDjA .icon-2xnN2Y,
.stickerIcon-3Jx5SE,
.icon-1d5zch,
.circleIcon-3489FI,
.buttonWrapper-3YFQGJ {
  color: var(--accent);
}

/* Dark */
.theme-dark .button-2b4VEQ.buttonSize-3QlBTl, .theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo, .theme-dark .popoutBannerPremium-3i5EEI .pencilContainer-18TrEJ, .theme-dark .full-motion .button-1_oXub, .theme-dark .lookFilled-yCfaCM.colorBrand-I6CyqQ, .theme-dark .navButtonActive-1EqC5l {
  background-color: var(--accentD);
  color: white;
  border-radius: 18px;
}
.theme-dark .button-2b4VEQ.buttonSize-3QlBTl:hover, .theme-dark .actionButton-3-B2x-:hover, .theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover, .theme-dark .popoutBannerPremium-3i5EEI .pencilContainer-18TrEJ:hover {
  background-color: var(--accent-hoverD);
  border-radius: 10px;
  transition: 0.3s;
}
.theme-dark .clickable-ZD7xvu .icon-2xnN2Y, .theme-dark .linkButtonIcon-7rsZcu {
  color: var(--accentD) !important;
}
.theme-dark .clickable-ZD7xvu .icon-2xnN2Y:hover, .theme-dark .linkButtonIcon-7rsZcu:hover {
  margin-top: 2px;
  transition: 0.5s;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
  border-radius: 5px;
}
.theme-dark .iconWrapper-2awDjA .icon-2xnN2Y, .theme-dark .stickerIcon-3Jx5SE, .theme-dark .icon-1d5zch, .theme-dark .circleIcon-3489FI, .theme-dark .buttonWrapper-3YFQGJ {
  color: var(--accentD);
}


/*
///////////////////////////////////////
////////////// Sliders
//////////////////////////////////////
*/

/* Sliders */
.barFill-2Bh7CX {
  background: var(--brand-experiment);
}

.scroller-kQBbkU::-webkit-scrollbar-track, .auto-2K3UW5::-webkit-scrollbar-track, .peopleColumn-1wMU14::-webkit-scrollbar-track {
  background-color: var(--background-secondary-alt);
  margin-top: 15px;
  margin-bottom: 15px;
}
.scroller-kQBbkU::-webkit-scrollbar-track, .auto-2K3UW5::-webkit-scrollbar-track, .peopleColumn-1wMU14::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.198);
}
.scroller-kQBbkU::-webkit-scrollbar-thumb, .auto-2K3UW5::-webkit-scrollbar-thumb, .thin-31rlnD::-webkit-scrollbar-thumb, .peopleColumn-1wMU14::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border: solid var(--background-secondary-alt) 3px;
  transition: .5s;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}
.scroller-kQBbkU::-webkit-scrollbar-thumb:hover, .auto-2K3UW5::-webkit-scrollbar-thumb:hover, .thin-31rlnD::-webkit-scrollbar-thumb:hover, .peopleColumn-1wMU14::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  transition: .5s;
}
/* Dark */
.theme-dark .scroller-kQBbkU::-webkit-scrollbar-thumb, .theme-dark .auto-2K3UW5::-webkit-scrollbar-thumb, .theme-dark .thin-31rlnD::-webkit-scrollbar-thumb, .theme-dark .peopleColumn-1wMU14::-webkit-scrollbar-thumb {
  background-color: var(--accentD);
  border: solid var(--background-secondary-alt) 3px;
  transition: 0.5s;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}
.theme-dark .scroller-kQBbkU::-webkit-scrollbar-thumb:hover, .theme-dark .auto-2K3UW5::-webkit-scrollbar-thumb:hover, .theme-dark .thin-31rlnD::-webkit-scrollbar-thumb:hover, .theme-dark .peopleColumn-1wMU14::-webkit-scrollbar-thumb:hover {
  background-color: var(--accentD);
  transition: 0.5s;
}


/* Sidebar "selected" Accents */
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .interactiveSelected-29CP8y {
  background-color: rgba(0, 0, 0, 0.039) !important;
  border-left: solid 1px var(--accent);
  text-align: center;
  transition: 0.5s;
  border-radius: 1px;
}

.channel-1Shao0:hover {
  margin-left: 5px;
  border-left: solid 1px var(--accent);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
  border-radius: 1px;
}
.mainContent-20q_Hp:hover {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
}
.unreadRelevant-2f-VSK {
  background-color: var(--accent);
  width: 4px;
  border-radius: 5px 5px 5px 5px; 
  transition: .5s;
}

/* Dark */
.theme-dark .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .theme-dark .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .theme-dark .interactiveSelected-29CP8y {
  background-color: rgba(0, 0, 0, 0.039) !important;
  border-left: solid 1px var(--accentD);
  text-align: center;
  transition: 0.5s;
  border-radius: 1px;
}
.theme-dark .channel-1Shao0:hover {
  margin-left: 5px;
  border-left: solid 1px var(--accentD);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
  border-radius: 1px;
}
.theme-dark .mainContent-20q_Hp:hover {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
}
.theme-dark .unreadRelevant-2f-VSK {
  background-color: var(--accentD);
  width: 4px;
  border-radius: 5px 5px 5px 5px;
  transition: 0.5s;
}



/*
///////////////////////////////////////
////////////// Sidebars
//////////////////////////////////////
*/

.panels-3wFtMD {
  border-radius: 15px;
  margin-bottom: 18px;
  margin-right: 2px;
  margin-left: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}


.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  background-color: var(--background-secondary) !important;
  border: solid 2px;
  border-radius: 18px;
  border-color: var(--accent);
  color: var(--accent);
  text-align: center;
  transition: 0.9s;
}

.iconContainer-21RCa3[aria-label="Text (Age-Restricted)"]>svg {
  color: #ff5252 !important;
}
.icon-2W8DHg, .modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
  color: var(--accent-selected);
  border-radius: 0px 15px 15px 15px;
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
  border-left: var(--accent) 1px solid;
  border-radius: 1px;
  background-color:rgba(0, 0, 0, 0.033);
}
.content-1gYQeQ:hover  {
  border-left: var(--accent) 1px solid;
  border-radius: 1px;
  margin-right: 2px;
  transition: 0.3s;
}
.mainContent-20q_Hp:hover {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
}

.addButtonIcon-3rJeaD,
.modeUnread-3Cxepe .icon-2W8DHg,
.unreadRelevant-2f-VSK {
  color: var(--accent) !important;
}

.modeConnected-NrO4cP .name-28HaxV,
.modeConnected-NrO4cP:hover .name-28HaxV,
.modeSelected-3DmyhH .name-28HaxV,
.modeSelected-3DmyhH:hover .name-28HaxV,
.modeUnread-3Cxepe .name-28HaxV,
.modeUnread-3Cxepe:hover .name-28HaxV,
.notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV,
.notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
  color: var(--accent) !important;
}
.modeSelected-3DmyhH .icon-2W8DHg,
.modeSelected-3DmyhH:hover .icon-2W8DHg,
.modeUnread-3Cxepe .icon-2W8DHg,
.modeUnread-3Cxepe:hover .icon-2W8DHg,
.mainContent-uDGa6R .overflow-1wOqNV,
.mainContent-uDGa6R {
  color: var(--accent) !important;
}

.expandedFolderBackground-1kSAf6 {
  box-shadow: inset 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 15px;
}
.closedFolderIconWrapper-3tRb2d:hover {
    box-shadow: inset 10px 10px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}
.expandedFolderBackground-1kSAf6.collapsed-uGXEbi,
.expandedFolderBackground-1kSAf6.collapsed-uGXEbi.hover-3m7-WT {
    display: none;
}
.folder-241Joy,
.folder-241Joy:hover {
    background-color: #00000000;
}
.item-2LIpTv {
    width: 8px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 0px;
    background-color: rgb(145, 138, 152);
}
.circleIconButton-1VxDrg {
    background: var(--background-secondary-alt) !important;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 30px;
    color: var(--accent-selected);
    transition: 0.5s;
}
.circleIconButton-1VxDrg:hover {
  background: rgba(99, 81, 199, 0.276);
  box-shadow: inset 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 30px;
  color: var(--accent-selected);
  transition: 0.5s;
}

/* Dark */
.theme-dark .panels-3wFtMD {
  border-radius: 15px;
  margin-bottom: 18px;
  margin-right: 2px;
  margin-left: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}
.theme-dark .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .theme-dark .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  background-color: var(--background-secondary) !important;
  border: solid 2px;
  border-radius: 18px;
  border-color: var(--accentD);
  color: var(--accentD);
  text-align: center;
  transition: 0.9s;
}
.theme-dark .iconContainer-21RCa3[aria-label="Text (Age-Restricted)"] > svg {
  color: #ff5252 !important;
}
.theme-dark .icon-2W8DHg, .theme-dark .modeSelected-3DmyhH .content-1gYQeQ, .theme-dark .modeSelected-3DmyhH:hover .content-1gYQeQ {
  color: var(--accent-selectedD);
  border-radius: 0px 15px 15px 15px;
}
.theme-dark .modeSelected-3DmyhH .content-1gYQeQ, .theme-dark .modeSelected-3DmyhH:hover .content-1gYQeQ {
  border-left: var(--accentD) 1px solid;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.033);
}
.theme-dark .content-1gYQeQ:hover {
  border-left: var(--accentD) 1px solid;
  border-radius: 1px;
  margin-right: 2px;
  transition: 0.3s;
}
.theme-dark .mainContent-20q_Hp:hover {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
}
.theme-dark .addButtonIcon-3rJeaD, .theme-dark .modeUnread-3Cxepe .icon-2W8DHg, .theme-dark .unreadRelevant-2f-VSK {
  color: var(--accentD) !important;
}
.theme-dark .modeConnected-NrO4cP .name-28HaxV, .theme-dark .modeConnected-NrO4cP:hover .name-28HaxV, .theme-dark .modeSelected-3DmyhH .name-28HaxV, .theme-dark .modeSelected-3DmyhH:hover .name-28HaxV, .theme-dark .modeUnread-3Cxepe .name-28HaxV, .theme-dark .modeUnread-3Cxepe:hover .name-28HaxV, .theme-dark .notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV, .theme-dark .notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
  color: var(--accentD) !important;
}
.theme-dark .modeSelected-3DmyhH .icon-2W8DHg, .theme-dark .modeSelected-3DmyhH:hover .icon-2W8DHg, .theme-dark .modeUnread-3Cxepe .icon-2W8DHg, .theme-dark .modeUnread-3Cxepe:hover .icon-2W8DHg, .theme-dark .mainContent-uDGa6R .overflow-1wOqNV, .theme-dark .mainContent-uDGa6R {
  color: var(--accentD) !important;
}
.theme-dark .expandedFolderBackground-1kSAf6 {
  box-shadow: inset 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
  border-radius: 15px solid var(--accentD);
}
.theme-dark .closedFolderIconWrapper-3tRb2d:hover {
  box-shadow: inset 10px 10px 5px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
}
.theme-dark .expandedFolderBackground-1kSAf6.collapsed-uGXEbi, .theme-dark .expandedFolderBackground-1kSAf6.collapsed-uGXEbi.hover-3m7-WT {
  display: none;
}
.theme-dark .folder-241Joy, .theme-dark .folder-241Joy:hover {
  background-color: #000 0;
}
.theme-dark .item-2LIpTv {
  width: 8px;
  border-radius: 5px 5px 5px 5px;
  margin-left: 0px;
  background-color: #918a98;
}
.theme-dark .circleIconButton-1VxDrg {
  background: var(--background-secondary-alt) !important;
  backdrop-filter: blur(20px);
  border: 1px solid var(--accentD);
  border-radius: 30px;
  color: var(--accent-selectedD);
  transition: 0.5s;
}
.theme-dark .circleIconButton-1VxDrg:hover {
  background: rgba(99, 81, 199, 0.276);
  box-shadow: inset 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
  border: 1px solid var(--accentD);
  border-radius: 30px;
  color: var(--accent-selectedD);
  transition: 0.5s;
}


/*
///////////////////////////////////////
////////////// Some Chat shit
//////////////////////////////////////
*/

.scrollableContainer-15eg7h, .hasConnectedBar-1vN2JH, .preview-QJ3OG3 {
  border-bottom: solid 1px;
  border-color: var(--accent);
  border-radius: 1px;
}

.scrollableContainer-15eg7h:hover {
  transition: .3s;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
}


.embedFull-1HGV2S {
  border-left: 4px solid var(--background-tertiary);
  background: var(--background-secondary);
}
.grid-1aWVsE {
  overflow: hidden;
  padding: 0.5rem 1rem 1rem 0.75rem;
}

.newMessagesBar-1hF-9G {
  margin-top: 10px;
  margin-right: 100px;
  border-radius: 5px;
  background-color: var(--accent);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.54);
}

.messageContainer-3VTXBC, .messageContainer-8dSNjf, .container-rZM65Y, .messageGroupWrapper-1jf_7C {
  border-left: solid 2px var(--accent);
  border-radius: 1px;
  background-color: var(--background-modifier-hover);
}

.messageContainer-3VTXBC:hover, .messageContainer-8dSNjf:hover, .container-rZM65Y:hover, .messageGroupWrapper-1jf_7C:hover {
  border-left: solid px var(--accent);
  margin-left: 5px;
  border-radius: 1px;
  background-color: var(--background-modifier-hover);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
}

.gridContainer-1cF_Ic {
  box-shadow: inset  1px 1px 3px 2px rgba(0, 0, 0, 0.198);
  border-radius: 1px;
}

.message-accessories-1045541717920727060 {
  display: none;
}

.members-3WRCEx {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-right: solid 1px var(--accent);
  background-color: var(--background-floating);
}

.member-48YF_l {
  background-color: #00000000;
}

.member-48YF_l:hover {
  background-color: #00000000;
  border-left: solid 1px var(--accent);
  transition: 0.3s;
  margin-right: 5px;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

/* Dark */
.theme-dark .scrollableContainer-15eg7h, .theme-dark .hasConnectedBar-1vN2JH, .theme-dark .preview-QJ3OG3 {
  border-bottom: solid 1px;
  border-color: var(--accentD);
  border-radius: 1px;
}
.theme-dark .scrollableContainer-15eg7h:hover {
  transition: 0.3s;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
}
.theme-dark .embedFull-1HGV2S {
  border-left: 4px solid var(--background-tertiary);
  background: var(--background-secondary);
}
.theme-dark .grid-1aWVsE {
  overflow: hidden;
  padding: 0.5rem 1rem 1rem 0.75rem;
}
.theme-dark .newMessagesBar-1hF-9G {
  margin-top: 10px;
  margin-right: 100px;
  border-radius: 5px;
  background-color: var(--accentD);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.54);
}
.theme-dark .messageContainer-3VTXBC, .theme-dark .messageContainer-8dSNjf, .theme-dark .container-rZM65Y, .theme-dark .messageGroupWrapper-1jf_7C {
  border-left: solid 2px var(--accentD);
  border-radius: 1px;
  background-color: var(--background-modifier-hover);
}
.theme-dark .messageContainer-3VTXBC:hover, .theme-dark .messageContainer-8dSNjf:hover, .theme-dark .container-rZM65Y:hover, .theme-dark .messageGroupWrapper-1jf_7C:hover {
  border-left: solid px var(--accentD);
  margin-left: 5px;
  border-radius: 1px;
  background-color: var(--background-modifier-hover);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
}
.theme-dark .gridContainer-1cF_Ic {
  box-shadow: inset 1px 1px 3px 2px rgba(0, 0, 0, 0.198);
  border-radius: 1px;
}
.theme-dark .message-accessories-1045541717920727060 {
  display: none;
}
.theme-dark .members-3WRCEx {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-right: solid 1px var(--accentD);
  background-color: var(--background-floating);
}
.theme-dark .member-48YF_l {
  background-color: #000 0;
}
.theme-dark .member-48YF_l:hover {
  background-color: #000 0;
  border-left: solid 1px var(--accentD);
  transition: 0.3s;
  margin-right: 5px;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
}


/*
////////////////////////
////Friends List 
////////////////////////
*/

.peopleListItem-u6dGxF {
  backdrop-filter: blur(20px);
  border: 0px solid;
  border-radius: 5px;
  margin-bottom: 13px;
  margin-top: 13px;
  padding-left: 10px;
}

.peopleListItem-u6dGxF:hover {
  backdrop-filter: blur(20px);
  box-shadow: inset 0px 3px 3px 5px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 13px;
  margin-top: 13px;
}

/*
///////////////////////////////////////
////////////// Settings
//////////////////////////////////////
*/

.accountProfileCard-lbN7n-, .profileBannerPreview-3mLIdO {
  background: #ffffffa3; 
  border-radius: 20px;
  box-shadow: inset 0px 3px 3px 5px rgba(0, 0, 0, 0.198);
}

/*
///////////////////////////////////////
////////////// Title Bar
//////////////////////////////////////
*/

.container-ZMc96U.themed-Hp1KC_ {
  background: var(--background-secondary-alt) !important; 
  border-bottom: .5px solid rgba(186, 186, 186, 0.386);
  border-radius: 5px 0px 0px 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.header-3OsQeK {
  background: var(--background-secondary-alt) !important; 
  border-bottom: .5px solid rgba(186, 186, 186, 0.386);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px 5px 5px 5px;
}
.animatedContainer-2laTjx, .bannerImage-ubW8K- {
  border-radius: 5px 5px 5px 5px;
  margin-right: 5px;
  margin-right: 5px;
}
  .communityInfoVisible-3zc5_s .header-3OsQeK, .communityInfoVisible-3zc5_s .header-3OsQeK:hover, .hasBanner-2IrYih .header-3OsQeK, .hasBanner-2IrYih .header-3OsQeK:hover {
    border-bottom: .5px solid rgba(0, 0, 0, 0);
    background-color: transparent !important;
  }
  .communityInfoPill-2Mll66 {
      display: none;
  }
.children-3xh0VB:after {
  background: rgba(0, 0, 0, 0);
}
  .title-17SveM {
      font-weight: 750;
      color: rgba(73, 73, 73);
  }
.clickable-ZD7xvu .icon-2xnN2Y {
  color: rgba(115, 115, 115);
}
.theme-dark .children-3xh0VB:after {
  display: none;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background: var(--background-secondary-alt) !important; 
  border-radius: 15px;
  box-shadow: inset 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG:hover {
  background: var(--background-secondary-alt) !important; 
  border-radius: 15px;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.198);
  transition: .5s;
}

.full-motion .searchBar-jGtisZ {
  background: var(--background-secondary) !important; 
  border-radius: 10px;
  box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

.full-motion .searchBar-jGtisZ:hover {
  background: var(--background-secondary) !important; 
  border-radius: 10px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
  transition: 0.3s;
}



/* Theme Specific */
.theme-dark .modeSelected-3DmyhH .icon-2W8DHg, .theme-dark .modeSelected-3DmyhH:hover .icon-2W8DHg, .theme-dark .modeUnread-3Cxepe .icon-2W8DHg, .theme-dark .modeUnread-3Cxepe:hover .icon-2W8DHg, .theme-dark .mainContent-uDGa6R .overflow-1wOqNV, .theme-dark .mainContent-uDGa6R {
  color: var(--PGColorText) !important;
}

.theme-dark .messageContent-2t3eCI, .theme-dark .modeConnected-NrO4cP .name-28HaxV, .theme-dark .modeConnected-NrO4cP:hover .name-28HaxV, .theme-dark .modeSelected-3DmyhH .name-28HaxV, .theme-dark .modeSelected-3DmyhH:hover .name-28HaxV, .theme-dark .modeUnread-3Cxepe .name-28HaxV, .theme-dark .modeUnread-3Cxepe:hover .name-28HaxV, .theme-dark .notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV, .theme-dark .notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV, .theme-dark .title-17SveM {
  color: #b4f9f8;
}

