/*
⠀⣞⢽⢪⢣⢣⢣⢫⡺⡵⣝⡮⣗⢷⢽⢽⢽⣮⡷⡽⣜⣜⢮⢺⣜⢷⢽⢝⡽⣝
⠸⡸⠜⠕⠕⠁⢁⢇⢏⢽⢺⣪⡳⡝⣎⣏⢯⢞⡿⣟⣷⣳⢯⡷⣽⢽⢯⣳⣫⠇
⠀⠀⢀⢀⢄⢬⢪⡪⡎⣆⡈⠚⠜⠕⠇⠗⠝⢕⢯⢫⣞⣯⣿⣻⡽⣏⢗⣗⠏⠀
⠀⠪⡪⡪⣪⢪⢺⢸⢢⢓⢆⢤⢀⠀⠀⠀⠀⠈⢊⢞⡾⣿⡯⣏⢮⠷⠁⠀⠀
⠀⠀⠀⠈⠊⠆⡃⠕⢕⢇⢇⢇⢇⢇⢏⢎⢎⢆⢄⠀⢑⣽⣿⢝⠲⠉⠀⠀⠀⠀
⠀⠀⠀⠀⠀⡿⠂⠠⠀⡇⢇⠕⢈⣀⠀⠁⠡⠣⡣⡫⣂⣿⠯⢪⠰⠂⠀⠀⠀⠀
⠀⠀⠀⠀⡦⡙⡂⢀⢤⢣⠣⡈⣾⡃⠠⠄⠀⡄⢱⣌⣶⢏⢊⠂⠀⠀⠀⠀⠀⠀ no shadows?
⠀⠀⠀⠀⢝⡲⣜⡮⡏⢎⢌⢂⠙⠢⠐⢀⢘⢵⣽⣿⡿⠁⠁⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠨⣺⡺⡕⡕⡱⡑⡆⡕⡅⡕⡜⡼⢽⡻⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⣼⣳⣫⣾⣵⣗⡵⡱⡡⢣⢑⢕⢜⢕⡝⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⣴⣿⣾⣿⣿⣿⡿⡽⡑⢌⠪⡢⡣⣣⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⡟⡾⣿⢿⢿⢵⣽⣾⣼⣘⢸⢸⣞⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠁⠇⠡⠩⡫⢿⣝⡻⡮⣒⢽⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
*/


.theme-light .panels__58331, .theme-light .container__26baa.themed_b152d4, .theme-light .header__77c95, .theme-light .full-motion .searchBar__5a20a, .theme-light .scroller_e412fe::-webkit-scrollbar-track, .theme-light .auto-2K3UW5::-webkit-scrollbar-track, .theme-light .peopleColumn__0c784::-webkit-scrollbar-track {
  border: none;
  border-radius: 15px;
}

.theme-dark .panels__58331, .theme-dark .container__26baa.themed_b152d4, .theme-dark .header__77c95, .theme-dark .full-motion .searchBar__5a20a, .theme-dark .scroller_e412fe::-webkit-scrollbar-track, .theme-dark .auto-2K3UW5::-webkit-scrollbar-track, .theme-dark .peopleColumn__0c784::-webkit-scrollbar-track {
  border: none;
  border-radius: 15px;
}

.theme-dark .expandedFolderBackground_b1385f, .theme-dark .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, .theme-dark .wrapper__8436d:hover .childWrapper_a6ce15 {
  background-color: var(--PGBackground2D);
  border-radius: 15px;
}


.theme-light .expandedFolderBackground_b1385f, .theme-light .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, .theme-light .wrapper__8436d:hover .childWrapper_a6ce15 {
  background-color: var(--PGBackground2);
  border-radius: 15px;
}

.theme-dark .circleIconButton__05cf2 {
  border-radius: 15px;
}

.theme-light .circleIconButton__05cf2 {
  border-radius: 15px;
}

.scroller_e412fe::-webkit-scrollbar-track,
.auto-2K3UW5::-webkit-scrollbar-track,
.peopleColumn__0c784::-webkit-scrollbar-track, .scroller_e412fe::-webkit-scrollbar-thumb,
.auto-2K3UW5::-webkit-scrollbar-thumb,
.thin_b1c063::-webkit-scrollbar-thumb,
.peopleColumn__0c784::-webkit-scrollbar-thumb {
  box-shadow: inset 0px 0px 0px 0px !important; 
}

* {
  box-shadow: 0px 0px 0px 0px !important; 
}
