:root {
  --PGBackgroundD: rgb(0, 0, 0);
  --PGBackground2D: rgb(10,10,10);
  --PGTextBackgroundD: rgb(7,7,8);
  --PGColorTextD: rgba(218, 219, 220);
  --accentD: rgb(29,191,235);
  --accent-hoverD: rgba(29,191,235, 0.977);
  --accent-selectedD: rgb(29,191,235, 0.612);
  --accent-focusedD: rgb(29,191,235, 0.200);
}
