:root {
  --PGBackgroundD: rgb(0, 0, 0);
  --PGBackground2D: rgb(10,10,10);
  --PGTextBackgroundD: rgb(7,7,8);
  --PGColorTextD: rgba(218, 219, 220);
  --accentD: rgb(26, 129, 251);
  --accent-hoverD: rgba(26, 129, 251, 0.977);
  --accent-selectedD: rgb(26, 129, 251, 0.612);
  --accent-focusedD: rgb(26, 129, 251, 0.200);
}

