/*
   ___ _                         __                _               
  / _ \ | ___  __ _ ___  ___    /__\ ___  __ _  __| |   /\/\   ___ 
 / /_)/ |/ _ \/ _` / __|/ _ \  / \/// _ \/ _` |/ _` |  /    \ / _ \
/ ___/| |  __/ (_| \__ \  __/ / _  \  __/ (_| | (_| | / /\/\ \  __/
\/    |_|\___|\__,_|___/\___| \/ \_/\___|\__,_|\__,_| \/    \/\___|
                                                                   
-----------------------* INSTRUCTIONS *----------------------------
-
- * REPLACING THE BACKGROUND IMAGE IS EASY. 
-   > Upload your desired image to an image hosting service, like catbox or imgur
-   > Replace the url bellow with a link to that image
-   > Optionally, you can change the background and accent colors + their opacity by messing with the varriables bellow
*/

body {
  background-image: url("https://files.catbox.moe/tmem5v.jpg") ; /* Replace this URL with one that points to your desired background image */
  background-size: cover;
 }

:root {
  --PGBackgroundD: rgb(0,0,0, 0.300);
  --PGBackground2D: rgb(0,0,0, 0.400);
  --PGBackground3D: rgb(0,0,0, 0.5);
  --PGTextBackgroundD: rgb(0,0,0, 0.300);
  --PGColorTextD: rgb(255, 248, 235);
  --accentD: rgb(2, 177, 159);
  --accent-hoverD: rgba(3, 218, 197, 0.977);
  --accent-selectedD: rgba(3, 218, 197, 0.612);
  --accent-focusedD: rgb(3, 218, 197, 0.200);
}


/* Extra garbage that makes this theme look nicer, feel free to ignore or edit idfc */

.theme-dark .name-28HaxV {
  color: var(--accent-selectedD)
}
.theme-dark .contentWrapper-3vHNP2, .theme-dark .popout-3gby1q, .theme-dark .drawerSizingWrapper-1txdWG, .theme-dark .quickswitcher-pKcM9U {
    background-color: var(--PGBackground3D)
}
.theme-dark .panels-3wFtMD {
  border-radius: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
