:root {
  --PGBackgroundD: rgb(4, 2, 14);
  --PGBackground2D: rgb(10, 13, 43);
  --PGBackground3D: rgb(5,8,12);
  --PGTextBackgroundD: rgb(10, 13, 43);
  --PGColorTextD: rgb(205, 220, 255);
  --accentD: rgb(108, 99, 255);
  --accent-hoverD: rgba(108, 99, 255, 0.977);
  --accent-selectedD: rgb(108, 99, 255, 0.612);
  --accent-focusedD: rgb(108, 99, 255, 0.2);
}

.theme-dark .name_d8bfb3 {
  color: var(--accent-selectedD)
}

.theme-dark .contentWrapper_af5dbb, .theme-dark .popout_e6af9c, .theme-dark .drawerSizingWrapper_af5dbb, .theme-dark .quickswitcher_f4e139 {
  background-color: var(--PGBackgroundD)
}

.theme-dark .membersGroup_cbd271, .theme-dark .label_d90b3d {
  color: var(--PGColorTextD);
}
