:root {
  --PGBackgroundD: #121212;
  --PGBackground2D: rgb(31, 31, 31);
  --PGTextBackgroundD: rgb(25, 25, 25);
  --PGFriendsBackgroundD: rgb(0, 0, 0);
  --PGFriendsD: rgb(0, 0, 0);
  --PGActiveNowD: rgb(33, 2, 1, .276);
  --PGGuildsD: rgb(66, 7, 6);
  --PGTitleBarD: #0c1021;
  --PGSearchD: rgb(53, 14, 12);
  --PGHoverD: rgba(152, 29, 22, 0.200);
  --PGBorderd: rgb(255, 255, 255);
  --PGColorTextD: rgba(213, 213, 213);
  --accentD: rgb(2, 177, 159);
  --accent-hoverD: rgba(3, 218, 197, 0.977);
  --accent-selectedD: rgba(3, 218, 197, 0.612);
  --accent-focusedD: rgb(3, 218, 197, 0.200);
}
