:root {
  --PGBackgroundD: #121212;
  --PGBackground2D: rgb(31, 31, 31);
  --PGTextBackgroundD: rgb(25, 25, 25);
  --accentD: rgb(2, 177, 159);
  --accent-hoverD: rgba(3, 218, 197, 0.977);
  --accent-selectedD: rgba(3, 218, 197, 0.612);
  --accent-focusedD: rgb(3, 218, 197, 0.200);
}
