:root {
  --PGBackgroundD: rgb(26, 26, 26);
  --PGBackground2D: rgb(40, 40, 40);
  --PGTextBackgroundD: rgb(32, 32, 32);
  --PGColorTextD: rgb(191, 191, 191);
  --accentD: rgb(255, 97, 136);
  --accent-hoverD: rgba(255, 97, 136, 0.9);
  --accent-selectedD: rgba(255, 97, 136, 0.6);
  --accent-focusedD: rgba(255, 97, 136, 0.3);
  --accent-fobD: rgba(255, 97, 136, 0.734);
  --accent-keysD: rgb(143, 160, 179);
  --accent-keys-lightD: rgba(143, 160, 179, 0.612);
  --accent-titlesD: rgb(230, 230, 230);
}

/* Buttons, Icons, Scrollers, Titles, and Text */
.theme-dark .iconWrapper_e44302 .icon_e44302, .theme-dark .stickerIcon__3ceda, .theme-dark .icon_cecf00, .theme-dark .circleIcon_db6521, .theme-dark .buttonWrapper_cecf00 {
  color: var(--accent-keysD);
}

.theme-dark .item_c2739c .item-3XjbnG .themed-2-lozF[aria-controls="add_friend-tab"] {
  background-color: var(--accent-hoverD) !important;
}

.theme-dark .clickable_e44302 .icon_e44302, .theme-dark .linkButtonIcon_c91bad {
  color: var(--accent-titlesD) !important;
}

.theme-dark .contents-3ca1mk .button_cecf00 .button_d0696b {
  color: var(--accent-keysD);
}

.theme-dark .circleIcon_db6521 {
  color: var(--accent-keys-lightD) !important;
}

.theme-dark .name_d8bfb3, .theme-dark .membersGroup_cbd271 {
  color: var(--accent-keysD);
}

.theme-dark .addButtonIcon_a08117, .theme-dark .modeUnreadImportant_d8bfb3 .icon_d8bfb3, .theme-dark .unreadImportant_d8bfb3 {
  color: var(--accent-titlesD) !important;
}

.theme-dark .messageContent_ec86aa, .theme-dark .modeConnected_d8bfb3 .name_d8bfb3, .theme-dark .modeConnected_d8bfb3:hover .name_d8bfb3, .theme-dark .modeSelected_d8bfb3 .name_d8bfb3, .theme-dark .modeSelected_d8bfb3:hover .name_d8bfb3, .theme-dark .modeUnreadImportant_d8bfb3 .name_d8bfb3, .theme-dark .modeUnreadImportant_d8bfb3:hover .name_d8bfb3, .theme-dark .notInteractive_d8bfb3.modeConnected_d8bfb3 .name_d8bfb3, .theme-dark .notInteractive_d8bfb3.modeSelected_d8bfb3 .name_d8bfb3 {
  color: var(--accent-titlesD) !important;
}

.theme-dark .modeSelected_d8bfb3 .icon_d8bfb3, .theme-dark .modeSelected_d8bfb3:hover .icon_d8bfb3, .theme-dark .modeUnreadImportant_d8bfb3 .icon_d8bfb3, .theme-dark .modeUnreadImportant_d8bfb3:hover .icon_d8bfb3, .theme-dark .mainContent_a08117 .overflow_c74e70, .theme-dark .mainContent_a08117 {
  color: var(--accent-titlesD) !important;
}

.theme-dark .unreadMentionsIndicatorTop_fea3ef .unreadMentionsBar_fea3ef,
.theme-dark .unreadMentionsIndicatorBottom_fea3ef .unreadMentionsBar_fea3ef,
.theme-dark .unreadMentionsIndicatorTop_fea3ef .unreadMentionsBar_fea3ef,
.numberBadge__40d6f,
.unreadImportant_d8bfb3,
.newBadge__4f501 {
  background: var(--accentD) !important;
}

.theme-dark .attachButtonPlus_f298d4 {
  fill: var(--accent-fobD) !important;
}

.theme-dark .button_dd4f85 .contents-3ca1mk {
  fill: var(--accent-fobD) !important;
  --button--underline-color: rgba(222, 0, 0, 0);
  background-image: linear-gradient(0deg, transparent, transparent 1px, var(--button--underline-color) 0, var(--button--underline-color) 2px, transparent 0);
}

.theme-dark .scroller_e2e187::-webkit-scrollbar-thumb, .theme-dark .auto-2K3UW5::-webkit-scrollbar-thumb, .theme-dark .thin_eed6a8::-webkit-scrollbar-thumb, .theme-dark .peopleColumn_c2739c::-webkit-scrollbar-thumb {
  background-color: var(--accent-fobD);
}
