:root {
  --PGBackgroundD: rgb(26, 26, 26);
  --PGBackground2D: rgb(40, 40, 40);
  --PGTextBackgroundD: rgb(32, 32, 32);
  --PGColorTextD: rgb(191, 191, 191);
  --accentD: rgb(255, 97, 136);
  --accent-hoverD: rgba(255, 97, 136, 0.9);
  --accent-selectedD: rgba(255, 97, 136, 0.6);
  --accent-focusedD: rgba(255, 97, 136, 0.3);
  --accent-fobD: rgba(255, 97, 136, 0.734);
  --accent-keysD: rgb(143, 160, 179);
  --accent-keys-lightD: rgba(143, 160, 179, 0.612);
  --accent-titlesD: rgb(230, 230, 230);
}

/* Buttons, Icons, Scrollers, Titles, and Text */
.theme-dark .iconWrapper-2awDjA .icon-2xnN2Y, .theme-dark .stickerIcon-3Jx5SE, .theme-dark .icon-1d5zch, .theme-dark .circleIcon-3489FI, .theme-dark .buttonWrapper-3YFQGJ {
  color: var(--accent-keysD);
}

.theme-dark .item-3mHhwr .item-3XjbnG .themed-2-lozF[aria-controls="add_friend-tab"] {
  background-color: var(--accent-hoverD) !important;
}

.theme-dark .clickable-ZD7xvu .icon-2xnN2Y, .theme-dark .linkButtonIcon-7rsZcu {
  color: var(--accent-titlesD) !important;
}

.theme-dark .contents-3ca1mk .button-2fCJ0o .button-3BaQ4X {
  color: var(--accent-keysD);
}

.theme-dark .circleIcon-3489FI {
  color: var(--accent-keys-lightD) !important;
}

.theme-dark .name-28HaxV, .theme-dark .membersGroup-2eiWxl {
  color: var(--accent-keysD);
}

.theme-dark .addButtonIcon-3rJeaD, .theme-dark .modeUnread-3Cxepe .icon-2W8DHg, .theme-dark .unreadRelevant-2f-VSK {
  color: var(--accent-titlesD) !important;
}

.theme-dark .messageContent-2t3eCI, .theme-dark .modeConnected-NrO4cP .name-28HaxV, .theme-dark .modeConnected-NrO4cP:hover .name-28HaxV, .theme-dark .modeSelected-3DmyhH .name-28HaxV, .theme-dark .modeSelected-3DmyhH:hover .name-28HaxV, .theme-dark .modeUnread-3Cxepe .name-28HaxV, .theme-dark .modeUnread-3Cxepe:hover .name-28HaxV, .theme-dark .notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV, .theme-dark .notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
  color: var(--accent-titlesD) !important;
}

.theme-dark .modeSelected-3DmyhH .icon-2W8DHg, .theme-dark .modeSelected-3DmyhH:hover .icon-2W8DHg, .theme-dark .modeUnread-3Cxepe .icon-2W8DHg, .theme-dark .modeUnread-3Cxepe:hover .icon-2W8DHg, .theme-dark .mainContent-uDGa6R .overflow-1wOqNV, .theme-dark .mainContent-uDGa6R {
  color: var(--accent-titlesD) !important;
}

.theme-dark .unreadMentionsIndicatorTop-2bTgUU .unreadMentionsBar-ZXXoOH,
.theme-dark .unreadMentionsIndicatorBottom-3RJMnQ .unreadMentionsBar-ZXXoOH,
.theme-dark .unreadMentionsIndicatorTop-2bTgUU .unreadMentionsBar-ZXXoOH,
.numberBadge-37OJ3S,
.unreadRelevant-2f-VSK,
.newBadge-1bHewI {
  background: var(--accentD) !important;
}

.theme-dark .attachButtonPlus-3IYelE {
  fill: var(--accent-fobD) !important;
}

.theme-dark .button-f2h6uQ .contents-3ca1mk {
  fill: var(--accent-fobD) !important;
  --button--underline-color: rgba(222, 0, 0, 0);
  background-image: linear-gradient(0deg, transparent, transparent 1px, var(--button--underline-color) 0, var(--button--underline-color) 2px, transparent 0);
}

.theme-dark .scroller-kQBbkU::-webkit-scrollbar-thumb, .theme-dark .auto-2K3UW5::-webkit-scrollbar-thumb, .theme-dark .thin-31rlnD::-webkit-scrollbar-thumb, .theme-dark .peopleColumn-1wMU14::-webkit-scrollbar-thumb {
  background-color: var(--accent-fobD);
}
