:root {
  --PGBackgroundD: rgb(26, 26, 26);
  --PGBackground2D: rgb(40, 40, 40);
  --PGTextBackgroundD: rgb(32, 32, 32);
  --PGColorTextD: rgb(191, 191, 191);
  --accentD: rgb(255, 97, 136);
  --accent-hoverD: rgba(255, 97, 136, 0.9);
  --accent-selectedD: rgba(255, 97, 136, 0.6);
  --accent-focusedD: rgba(255, 97, 136, 0.3);
  --accent-fobD: rgba(255, 97, 136, 0.734);
  --accent-keysD: rgb(143, 160, 179);
  --accent-keys-lightD: rgba(143, 160, 179, 0.612);
  --accent-titlesD: rgb(230, 230, 230);
}

/* Buttons, Icons, Scrollers, Titles, and Text */
.theme-dark .iconWrapper__9293f .icon__9293f, .theme-dark .stickerIcon__3ceda, .theme-dark .icon__24af7, .theme-dark .circleIcon__5bc7e, .theme-dark .buttonWrapper__24af7 {
  color: var(--accent-keysD);
}

.theme-dark .item__133bf .item-3XjbnG .themed-2-lozF[aria-controls="add_friend-tab"] {
  background-color: var(--accent-hoverD) !important;
}

.theme-dark .clickable__9293f .icon__9293f, .theme-dark .linkButtonIcon__972a0 {
  color: var(--accent-titlesD) !important;
}

.theme-dark .contents-3ca1mk .button__24af7 .button__74017 {
  color: var(--accent-keysD);
}

.theme-dark .circleIcon__5bc7e {
  color: var(--accent-keys-lightD) !important;
}

.theme-dark .name__2ea32, .theme-dark .membersGroup_c8ffbb {
  color: var(--accent-keysD);
}

.theme-dark .addButtonIcon__29444, .theme-dark .modeUnreadImportant__2ea32 .icon__2ea32, .theme-dark .unreadImportant__2ea32 {
  color: var(--accent-titlesD) !important;
}

.theme-dark .messageContent_c19a55, .theme-dark .modeConnected__2ea32 .name__2ea32, .theme-dark .modeConnected__2ea32:hover .name__2ea32, .theme-dark .modeSelected__2ea32 .name__2ea32, .theme-dark .modeSelected__2ea32:hover .name__2ea32, .theme-dark .modeUnreadImportant__2ea32 .name__2ea32, .theme-dark .modeUnreadImportant__2ea32:hover .name__2ea32, .theme-dark .notInteractive__2ea32.modeConnected__2ea32 .name__2ea32, .theme-dark .notInteractive__2ea32.modeSelected__2ea32 .name__2ea32 {
  color: var(--accent-titlesD) !important;
}

.theme-dark .modeSelected__2ea32 .icon__2ea32, .theme-dark .modeSelected__2ea32:hover .icon__2ea32, .theme-dark .modeUnreadImportant__2ea32 .icon__2ea32, .theme-dark .modeUnreadImportant__2ea32:hover .icon__2ea32, .theme-dark .mainContent__29444 .overflow__82b15, .theme-dark .mainContent__29444 {
  color: var(--accent-titlesD) !important;
}

.theme-dark .unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116,
.theme-dark .unreadMentionsIndicatorBottom_ef3116 .unreadMentionsBar_ef3116,
.theme-dark .unreadMentionsIndicatorTop_ef3116 .unreadMentionsBar_ef3116,
.numberBadge__40d6f,
.unreadImportant__2ea32,
.newBadge__4f501 {
  background: var(--accentD) !important;
}

.theme-dark .attachButtonPlus__0923f {
  fill: var(--accent-fobD) !important;
}

.theme-dark .button__201d5 .contents-3ca1mk {
  fill: var(--accent-fobD) !important;
  --button--underline-color: rgba(222, 0, 0, 0);
  background-image: linear-gradient(0deg, transparent, transparent 1px, var(--button--underline-color) 0, var(--button--underline-color) 2px, transparent 0);
}

.theme-dark .scroller__36d07::-webkit-scrollbar-thumb, .theme-dark .auto-2K3UW5::-webkit-scrollbar-thumb, .theme-dark .thin__99f8c::-webkit-scrollbar-thumb, .theme-dark .peopleColumn__133bf::-webkit-scrollbar-thumb {
  background-color: var(--accent-fobD);
}
