:root {
  --PGBackgroundD: rgb(46, 52, 64);
  --PGBackground2D: rgb(59, 66, 82);
  --PGTextBackgroundD: rgb(67, 76, 94);
  --PGColorTextD: rgb(216, 222, 233);
  --accentD: rgb(136, 192, 208);
  --accent-hoverD: rgba(136, 192, 208, 0.9);
  --accent-selectedD: rgba(136, 192, 208, 0.6);
  --accent-focusedD: rgba(136, 192, 208, 0.3);
}
