:root {
  --PGBackgroundD: rgb(45, 52, 64);
  --PGBackground2D: rgb(76, 86, 106);
  --PGTextBackgroundD:  rgb(59, 66, 82);
  --PGColorTextD: rgba(215, 222, 333);
  --accentD: rgba(129, 161, 193);
  --accent-hoverD: rgb(67, 76, 94, 0.977);
  --accent-selectedD: rgb(136, 192, 208, 0.612);
  --accent-focusedD: rgb(143, 188, 187, 0.2);
}
