:root {
  --PGBackgroundD: rgb(5,8,12);
  --PGBackground2D: rgb(12,11,5);
  --PGTextBackgroundD: rgb(0,0,0);
  --PGColorTextD: rgb(219,196,153);
  --accentD: rgb(213, 206, 163);
  --accent-hoverD: rgba(213, 206, 163, 0.977);
  --accent-selectedD: rgb(213, 206, 163, 0.612);
  --accent-focusedD: rgb(213, 206, 163, 0.2);
}
