:root {
  --PGBackgroundD: rgb(5,8,12, 0.300);
  --PGBackground2D: rgb(12,11,5, 0.800);
  --PGBackground3D: rgb(5,8,12);
  --PGTextBackgroundD: rgb(0,0,0, 0.300);
  --PGColorTextD: rgb(255, 248, 235);
  --accentD: rgb(213, 206, 163);
  --accent-hoverD: rgba(213, 206, 163, 0.977);
  --accent-selectedD: rgb(213, 206, 163, 0.612);
  --accent-focusedD: rgb(213, 206, 163, 0.2);
}

body {
  background-image: url("https://files.catbox.moe/09fgs6.png");
 }

.theme-dark .name_d8bfb3 {
  color: var(--accent-selectedD)
}

.theme-dark .contentWrapper_af5dbb, .theme-dark .popout_e6af9c, .theme-dark .drawerSizingWrapper_af5dbb, .theme-dark .quickswitcher_f4e139 {
    background-color: var(--PGBackground3D)
}
