:root {
  --PGBackgroundD: rgba(18, 15, 18, 0.200);
  --PGBackground2D: rgba(51, 41, 50, 0.500);
  --PGTextBackgroundD: rgb(51, 41, 50);
  --PGColorTextD: rgb(201, 201, 201);
  --accentD: rgb(231, 146, 197);
  --accent-hoverD: rgb(231, 146, 197, 0.977);
  --accent-selectedD: rgb(231, 146, 197, 0.612);
  --accent-focusedD: rgb(231, 146, 197, 0.200);
}

/* Background Image */
body {
  background-image: url("https://media.discordapp.net/attachments/1026554757948637305/1042919699626852362/rosiepink.png");
}

/* Extras */

.theme-dark .contentWrapper__08434, .theme-dark .popout_cba592, .theme-dark .drawerSizingWrapper__08434, .theme-dark .quickswitcher_ac6cb0 {
  background-color: var(--PGBackgroundD)
}

.theme-dark .name_f37cb1, .theme-dark .chat_f75fb0 .container__9293f .title__9293f {
  color: var(--accentD)
}

.theme-dark .membersGroup_c8ffbb, .theme-dark .label_c1e9c4 {
  color: var(--PGColorTextD);
}
