:root {
  --PGBackgroundD: rgba(18, 15, 18, 0.200);
  --PGBackground2D: rgba(51, 41, 50, 0.500);
  --PGTextBackgroundD: rgb(51, 41, 50);
  --PGColorTextD: rgb(201, 201, 201);
  --accentD: rgb(231, 146, 197);
  --accent-hoverD: rgb(231, 146, 197, 0.977);
  --accent-selectedD: rgb(231, 146, 197, 0.612);
  --accent-focusedD: rgb(231, 146, 197, 0.200);
}

/* Background Image */
body {
  background-image: url("https://media.discordapp.net/attachments/1026554757948637305/1042919699626852362/rosiepink.png");
}

/* Extras */

.theme-dark .contentWrapper_af5dbb, .theme-dark .popout_e6af9c, .theme-dark .drawerSizingWrapper_af5dbb, .theme-dark .quickswitcher_f4e139 {
  background-color: var(--PGBackgroundD)
}

.theme-dark .name_fd6364, .theme-dark .chat_a7d72e .container_e44302 .title_e44302 {
  color: var(--accentD)
}

.theme-dark .membersGroup_cbd271, .theme-dark .label_d90b3d {
  color: var(--PGColorTextD);
}
