:root {
  --PGBackgroundD: rgb(22,21,26);
  --PGBackground2D: rgb(27, 26, 31);
  --PGTextBackgroundD: rgb(21, 20, 25);
  --PGFriendsBackgroundD: rgb(0, 0, 0);
  --PGFriendsD: rgb(0, 0, 0);
  --PGActiveNowD: rgb(33, 2, 1, .276);
  --PGGuildsD: rgb(66, 7, 6);
  --PGTitleBarD: #0c1021;
  --PGSearchD: rgb(53, 14, 12);
  --PGHoverD: rgba(152, 29, 22, 0.200);
  --PGBorderd: rgb(78,78,81);
  --PGColorTextD: rgba(213, 213, 213);
  --accentD: rgba(187, 49, 67);
  --accent-hoverD: rgb(187, 49, 67, 0.977);
  --accent-selectedD: rgb(187, 49, 67, 0.612);
  --accent-focusedD: rgb(187, 49, 67, 0.200);
}
