:root {
  --PGBackgroundD: rgb(26, 27, 39);
  --PGBackground2D: rgb(22, 22, 31);
  --PGTextBackgroundD: rgb(31, 32, 46);
  --PGColorTextD: rgba(218, 219, 220);
  --accentD: rgb(177, 77, 98);
  --accent-hoverD: rgba(177, 77, 98, 0.977);
  --accent-selectedD: rgb(177, 77, 98, 0.612);
  --accent-focusedD: rgb(177, 77, 98, 0.2);
}
