:root {
  --PGBackgroundD: rgb(26, 27, 39);
  --PGBackground2D: rgb(22, 22, 31);
  --PGTextBackgroundD: rgb(31, 32, 46);
  --PGFriendsBackgroundD: rgb(0, 0, 0);
  --PGFriendsD: rgb(0, 0, 0);
  --PGActiveNowD: rgb(33, 2, 1, .276);
  --PGGuildsD: rgb(66, 7, 6);
  --PGTitleBarD: #0c1021;
  --PGSearchD: rgb(53, 14, 12);
  --PGHoverD: rgba(152, 29, 22, 0.200);
  --PGBorderd: rgb(78,78,81);
  --PGColorText: #d7dee9;
  --accentD: rgb(177, 77, 98);
  --accent-hoverD: rgba(177, 77, 98, 0.977);
  --accent-selectedD: rgb(177, 77, 98, 0.612);
  --accent-focusedD: rgb(177, 77, 98, 0.2);
}
