:root {
  --PGBackgroundD: rgb(15, 20, 25);
  --PGBackground2D: rgb(23, 32, 42);
  --PGTextBackgroundD: rgb(25, 39, 52);
  --PGColorTextD: rgb(221, 227, 240);
  --accentD: rgb(29, 161, 242);
  --accent-hoverD: rgba(29,161,242, 0.977);
  --accent-selectedD: rgba(29,161,242, 0.612);
  --accent-focusedD: rgba(29,161,242, 0.200);
}
