:root {
  --PGBackground: #CCDAEC;
  --PGBackground2: #D5E4F7;
  --PGTextBackground: #D5E4F7; 
  --PGFriendsBackground: rgb(0, 0, 0);
  --PGFriends: rgb(0, 0, 0);
  --PGActiveNow: rgb(33, 2, 1, .276);
  --PGGuilds: rgb(66, 7, 6);
  --PGTitleBar: #0c1021;
  --PGSearch: rgb(53, 14, 12);
  --PGHover: rgba(152, 29, 22, 0.200);
  --PGBorder: rgb(78,78,81);
  --accent: rgba(0, 98, 157);
  --accent-hover: rgba(0, 98, 157, 0.977);
  --accent-selected: rgb(0, 98, 157, 0.612);
  --accent-focused: rgb(0, 98, 157, 0.2);
}
