@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  --font-primary: Quicksand;
  --font-display: Quicksand;
  --font-headline: Quicksand;
  text-rendering: optimizeLegibility;
  text-transform: none !important;
}
